<header>
  <h1 class="p-3">MEMU Macro Generator</h1>
</header>
<main class="flex-grow-1 flex-shrink-1 d-flex flex-row align-items-stretch app-container">
  <section class="w-50 p-2">
    <div class="pb-1 d-flex flex-row align-items-center">
      <h2 class="flex-grow-1">Editor</h2>
      <button type="button" class="btn btn-info btn-sm" (click)="openExport()">Export</button>
    </div>
    <div *ngFor="let group of (macroGroupService.observable | async) ; let groupIndex = index;">
      <macro-group  [group]="group"
                    (groupsAppended)="insertGroups(groupIndex, $event, false)"
                    (groupsPrepended)="insertGroups(groupIndex, $event, true)"
                    (groupDeleted)="removeGroup(groupIndex)"
                    (groupUpdated)="buildScript()"
                    (repeatChanged)="updateRepeat(groupIndex, $event)"
                    (nameChanged)="updateGroupName(groupIndex, $event)"></macro-group>
    </div>
    <div class="text-center">
      <button class="btn btn-info btn-sm" type="button" (click)="addGroup(false)">Add Group</button>
    </div>
  </section>
  <section class="w-50 d-flex flex-column align-items-stretch p-2">
    <div class="pb-1 d-flex flex-row align-items-center">
      <h2 class="flex-grow-1">Result</h2>
      <button type="button" class="btn btn-info btn-sm" (click)="copyResultToClipboard()">Copy to clipboard</button>
    </div>
    <textarea class="flex-grow-1 form-control" readonly [value]="macroScript"></textarea>
  </section>
</main>
