<header class="p-3 d-flex flex-row align-items-end">
  <h1 class="flex-grow-1">FFBE Macro Generator</h1>
  <button type="button" class="btn btn-link" (click)="openConfigEditor()" aria-label="Settings"><i class="fas fa-cogs"></i></button>
</header>
<main class="flex-grow-1 flex-shrink-1 d-flex flex-row align-items-stretch app-container">
  <section class="w-50 p-2">
    <div class="pb-1 d-flex flex-row align-items-center">
      <h2 class="flex-grow-1">Editor</h2>
      <button type="button" class="btn btn-info btn-sm" (click)="openExport()"><i class="fas fa-file-export"></i>&nbsp;Export</button>
    </div>
    <macro-editor class="flex-grow-1"></macro-editor>
  </section>
  <section class="w-50 d-flex flex-column align-items-stretch">
    <script-output class="d-flex flex-column align-items-stretch p-2"></script-output>
  </section>
</main>
