<div class="macro-group-container mb-2">
  <div class="card">
    <div class="card-header">
      <div class="d-flex flex-row align-items-center">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend"><span class="input-group-text">Group Name</span></div>
          <input type="text" class="form-control" [ngModel]="group.name" (ngModelChange)="updateGroupName($event)" />
        </div>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">Repeat</span>
          </div>
          <input type="number" class="form-control" step="1" [ngModel]="group.repeat" (ngModelChange)="updateRepeat($event)" />
          <div class="input-group-append">
            <span class="input-group-text">times</span>
          </div>
        </div>
        <button class="btn btn-sm btn-link text-danger" type="button" (click)="deleteMeEvent.emit()" aria-label="Delete"><i class="fas fa-trash"></i></button>
        <button type="button" class="btn btn-sm btn-link" (click)="isCollapsed = !isCollapsed" aria-label="Collapse or Expand"><i class="fas fa-ellipsis-h"></i></button>
      </div>
    </div>
    <div cdkDropList class="p-2" [ngbCollapse]="isCollapsed" (cdkDropListDropped)="itemDrop($event)">
      <div class="d-flex flex-row align-items-center" cdkDrag *ngFor="let item of group.items; let itemIndex = index;">
        <i cdkDragHandle class="fas fa-arrows-alt pr-1 drag text-info"></i>
        <macro-item class="flex-grow-1" [item]="item" (deleteMeEvent)="deleteItem(itemIndex)" (updateMeEvent)="updateItem(itemIndex, $event)"></macro-item>
      </div>
      <button class="btn btn-sm btn-info d-block mx-auto my-2" type="button" (click)="addItem()"><i class="fas fa-plus-circle"></i>&nbsp;Add New Action</button>
    </div>
  </div>
</div>
